/* Importación de fuentes */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

/* Estilo del cuerpo de la página */
body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

/* Estilo del contenedor de la explicación */
.explicacion {
  margin-top: 100px;
  text-align: center;
  color: #4bd5ee;
  font-family: "News Cycle", sans-serif;
}

/* Estilo del botón */
#reiniciar-btn {
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 3px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
}

/* Animaciones */
@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes parrafos {
  0% {
    top: 75%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -70%;
    opacity: 0;
  }
}
