body{
    background-image: url(./img/fondo.jpg);
}

img{
    width: 70%;
    height: 70%;
}

h1,label{
    color: white;
}

button{
    margin: 1vw;
    font-size: 1vw;
}

#superHeroInfo{
position: absolute;
 background-color: white;   
 width: 30vw;
 border-radius: 1vw;
 box-shadow: 0 0 50px rgb(255, 0, 0);
}

#superHeroPower{
    position: absolute;
    margin-left: 68vw;
    background-color: white;   
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgb(229, 255, 0);
   }

   #superHeroJob{
    background-color: white;   
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgb(0, 26, 255);
   }

   #superHeroConex{
    background-color: white;   
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgb(255, 0, 200);
   }
   #superHeroApariencia{
    position: absolute;
    margin-left: 68vw;
    background-color: white;   
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgb(163, 163, 163);
   }

   #superHeroBiograpy{
    background-color: white;   
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0 50px rgb(0, 255, 191);
   }

#nombre{
    font-size: 3vw;
}