html {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    overflow-x: hidden;
}

#banner {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(179,179,189,1) 12%, rgba(203,203,203,1) 81%);
    width: 100%;
    height: 50.3vi;
}

#botones {
    width: 8vi;
    height: 2vi;
    margin-top: 2vi;
    margin-left: 88vi;
    display: flex;
}

#perfil_icon {
    width: 2vi;
    margin-left: 2.5vi;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); /* Agregar sombra negra */
}

#logo {
    position: absolute;
    width: 10vi;
    height: 3vi;
    margin-top: 1.5vi;
    margin-left: 5vi;
}



body {
    font-family: Arial, sans-serif;
}
  
.container {
    width: 50%;
    margin: 0 auto;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
  
html {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

#imagen-container {
    height: 30.3vi;
    display: flex;
    gap: 10px;
    margin-top: 15vi;
    padding: 10px; /* Añadir espacio para el scroll */
    overflow-x: hidden; /* Ocultar el desplazamiento horizontal */
    overflow-y: auto; /* Permitir el desplazamiento vertical si es necesario */
    white-space: nowrap; /* Evitar que los elementos se rompan en varias líneas */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5); /* Agregar sombra al contenedor */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); /* Fondo con degradado */
}

.image-container img {
    width: 6vi;
    height: 9vi;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 2px solid #bababa; /* Agregar borde blanco de 2px */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra a las imágenes */
}


.image-container {
    width: 100%;
    height: 100%;
    background-size: cover; /* Ajustar la imagen para cubrir todo el div */
    background-position:left; /* Centrar la imagen dentro del div */
}




#fondo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)); /* Gradiente de claro a oscuro */
}


/* Cambio de color de la página */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #c6c6c6;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Agregar sombra negra */
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Agregar sombra negra */
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
    background: #000000;
}

.switch input:checked + .slider:before {
    transform: translateX(1.6em);
}






.medium-image {
    width: 150px; 
    height: auto;
}



.image-item {
    object-fit: cover;
    margin-top: 14vi;
    height: 10vi;
    width: 5vi;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px; /* Si es necesario */
    cursor: pointer; /* Si se desea un cursor interactivo */

}

/* Estilos específicos para imágenes de fondo */
.background-image {
    position: relative; /* Asegura que el z-index funcione correctamente */
    z-index: 1; /* Ajusta el orden z para que esté encima de la imagen */
    box-shadow: 0px 8px 100px rgba(0, 0, 0, 1); /* Ejemplo de sombra */
}
.big-image {
    width: 15vi;
    height: 10vi; /* Cambiar el tamaño de acuerdo a tus necesidades */
    margin-top: 8vi;
    border: 10px solid #b4b4b4;
    transform: scale(2.4);
    margin-left: 5vi;
    margin-right: 5vi;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url('ruta/de/imagen.jpg');
}

#banner {
    position: relative;
    height: 100%; /* Altura ajustable según tu diseño */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}



.above-image {
    position: absolute;
    margin-top: 2vi;
    width: 14vi;
    height: 20vi;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 48vi;
    z-index: 1;
    padding: 10px;
    font-size: 0.9vi;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 10px 10px rgba(1, 1, 1, 1); 
    overflow-y: auto;
    overflow-x:hidden;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)); /* Gradiente de claro a oscuro */
}


.above-image p {
    margin: 0; /* Eliminar el margen predeterminado del párrafo */
    max-height: 80%; /* Limitar la altura máxima del texto */
    white-space: pre-wrap; /* Permitir saltos de línea */
    overflow-wrap: break-word; /* Dividir el texto en palabras y ajustar automáticamente */
}


.above-image p::after {
    content: '\00a0'; /* Agregar un espacio al final del texto usando el pseudoelemento ::after */
}


button.red-button {
    margin-top: 10px; /* Espacio arriba del botón */
    padding: 8px 16px; /* Espaciado interno del botón */
    background-color: rgb(207, 0, 0); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quitar borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button.red-button:hover {
    background-color: darkred; /* Cambiar color de fondo al pasar el mouse */
}